<%= form_for (@song) do |s| %>
    
    <p><%= s.text_field :name, placeholder: "Name" %></p>
    <p><%= s.text_field :artist, placeholder: "Artist"%></p>

    
    <%= s.submit "Create Song" %>

<% end %>