<h2>All the songs for the tag <em> <%= @tag.name %> </em></h2>

<% @songs.each do |s| %>
    <p><strong><%= link_to s.name, song_id_path(s) %></strong> by <%= link_to s.artist, artist_path(s.artist) =%></p>
<% end %>


